<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body
	style="
		background-color:lightgrey;
	"
>

<table
	align="center" 
	cellpadding="10" 
	cellspacing="50" 
	width="80%"
	height="90%"
	style="background-color:#EEF1F8; vertical-align:middle" 
	border="0" 

>


<tr>
	<td>
		<img
			style="

				width:150px;
				margin:10px 50px;

			"
			 src="http://www.dipra.com.mx/assets/images/logodipra.png">
	</td>
</tr>

	<tr

	>
		<td
			style="
			
			font-size:2.5rem;
			font-weight:bold;
			"
			width="100%"
			align="center"

			
		>
			{{titulo}}
			<br>
			<button
				style="
				cursor:pointer;
				padding:10px 25px;
				background-color:#1565c0;
				border:none;
				border-radius:50px;
				color:white;
				font-weight:bold;
				font-size:1rem;
				"
			>
			<a style="color:white" href="http://dipra.planb.com.mx">
				Entrar al sistema
			</a>
			
		</button>
		</td>
	</tr>	

	<tr>
		<td
			align="center"
		>
			<img
				width="100%"
			 src="http://q.bstatic.com/static/img/newsletters/nl_header_pointdown.png">
		</td>
	</tr>
	<tr>
		<td
			style="
				font-weight:bold;
				font-size:1.3rem;
			"
		>

			Hola, {{username}}
		</td>
	</tr>
	<tr>
		<td
			style="
				font-size:1rem;
			"
		>
			{{subtitulo}}
		</td>
	</tr>
	<tr>
		<td
			style="
				text-align:justify;
			"
		>
			{{parrafo1}}
		</td>
	</tr>
	<tr>
		<td
			style="
				text-align:justify;
			"
		>
			{{parrafo2}}
		</td>
	</tr>
	<tr>
		<td
			style="
				text-align:center;
				background-color:#1565c0;
			"
		>
		<h4
			style="color:white"
		>Conecta con nosotros:</h4>
			<a 
				style="
					color:white;
					margin-right:20px;

				"
			href="http://facebook.com">

				<i class="fa fa-facebook-square" aria-hidden="true"></i>

				Facebook


			</a>

			<a 
				style="
					color:white;
					margin-right:20px;

				"
			href="http://twitter.com">

				<i class="fa fa-twitter-square" aria-hidden="true"></i>

				Twitter


			</a>

			<a 
				style="
					color:white;
					margin-right:20px;
					vertical-align:middle;

				"
			href="mailto:hola@dipra.com.mx">

				<i class="fa fa-envelope" aria-hidden="true"></i>

				Email


			</a>

			


		</td>
	</tr>
</table>




</body>
